@font-face {
  font-family: Avantgarde;
  src: url("../assets/fonts/Avantgarde.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../assets/fonts/Avenir-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../assets/fonts/Avenir-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../assets/fonts/Avenir-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
