@import "./fonts.css";
@import "./swiper-bundle.min.css";

:root {
  --c-primary: #000000;
  --c-secondary: #ffffff;
  --c-text: #666666;
  --c-blue: #99C3CC;
  --c-pink: #CC9999;
  --c-purple: #CB99CC;
  --c-green: #A6CC99;

  --font-family--primary: Avenir, sans-serif;
  --font-family--secondary: Avantgarde, sans-serif;

  --spacer-1: 4px;
  --spacer-2: 8px;
  --spacer-3: 16px;
  --spacer-4: 32px;
  --spacer-5: 68px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family--primary);
}

h1 {
  font-size: 31.25px;
  line-height: 40.62px;
}

.desktop-only {
  display: none;
}

.section-tile {
  display: grid;
}

.section-tile__image {
  position: relative;
  width: 100%;
}

.section-tile__image img {
  width: 100%;
}

.section-tile__image .section-tile__image--gradient-overlay {
  position: absolute;
  bottom: calc(var(--spacer-1) * 1.5);
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.section-tile__content {
  display: flex;
  flex-direction: column;
  margin-top: -54%;
  z-index: 1;
  color: var(--c-secondary);
}

.section-tile__content .section-tile__content-text {
  max-width: 494px;
  margin-left: calc(var(--spacer-2) * 3);
}

.section-tile__content .section-tile__content-link {
  width: fit-content;
  padding-bottom: 5px;
  font-size: 12.8px;
  line-height: 17.48px;
  font-weight: 900;
  border-bottom: 1px solid var(--c-secondary);
  margin: 16px 0 0 0;
}

.section-tile__content .section-tile__content-title {
  font-size: 20px;
  line-height: 26px;
  max-width: 312px;
  font-family: var(--font-family--secondary);
}

.section-tile__content .section-tile__content-product-slider {
  display: grid;
  margin-top: var(--spacer-4);
  color: var(--c-primary);
}

.product-card {
  display: flex;
  flex-direction: column;
  font-size: 12.8px;
  line-height: 20.48px;
}

.product-card .product-card__bottom {
  display: flex;
  flex-direction: column;
  min-height: 84px;
  justify-content: space-between;
  height: 100%;
  margin-top: var(--spacer-2);
}

.product-card .product-card__details {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.product-card .product-card__name {
  -webkit-text-size-adjust: 100%;
}

.product-card .product-card__price {
  font-weight: 500;
}

.product-card .product-card__colors {
  display: flex;
  gap: calc(var(--spacer-1) * 1.5);
  margin-top: var(--spacer-2);
}

.product-card .product-card__colors .product-card__colors--color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.product-card .product-card__colors .product-card__color--blue {
  background-color: var(--c-blue);
}

.product-card .product-card__colors .product-card__color--pink {
  background-color: var(--c-pink);
}

.product-card .product-card__colors .product-card__color--purple {
  background-color: var(--c-purple);
}

.product-card .product-card__colors .product-card__color--green {
  background-color: var(--c-green);
}

.product-card .product-card__colors .product-card__color--selected {
  border: 1px solid var(--c-primary);
  padding: 1px;
  background-clip: content-box;
}

.product-card .product-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 230 / 310;
}

/* swiper styling */
.swiper {
  margin-left: -96px;
  margin-right: inherit;
}

.swiper-button-next {
  --swiper-navigation-top-offset: 42.5%;
  --swiper-navigation-sides-offset: 6.7%;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--c-primary);
}

.swiper-button-next:after {
  --swiper-navigation-size: 13px;
}

@media screen and (min-width: 749px) and (max-width: 1023px) {
  .section-tile__content .section-tile__content-title {
    font-size: 30px;
    line-height: 40.62px;
    max-width: 400px;
  }

  .section-tile__content .section-tile__content-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: grid;
  }

  .section-tile {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .section-tile__content .section-tile__content-description {
    color: var(--c-text);
    margin: calc(var(--spacer-1) + var(--spacer-2)) 0 0 0;
    max-width: 430px;
  }

  .section-tile__content .section-tile__content-link {
    border-bottom: 1px solid var(--c-primary);
    margin: var(--spacer-4) 0 0 0;
    font-weight: 600;
  }

  .section-tile__content {
    color: var(--c-primary);
    margin-top: 96px;
  }

  .section-tile__content .section-tile__content-title {
    font-size: 31.25px;
    line-height: 40.62px;
    max-width: 494px;
  }

  .section-tile__content .section-tile__content-text{
    margin-left: 120px;
  }

  .section-tile__content .section-tile__content-product-slider {
    margin-top: 68px;
  }

  .product-card .product-card__details {
    flex-direction: row;
    align-items: center;
  }

  .product-card .product-card__colors {
    margin-top: 0;
    gap: var(--spacer-2);
  }

  .product-card .product-card__bottom {
    margin-top: calc(var(--spacer-1) + var(--spacer-2));
    min-height: auto;
    gap: var(--spacer-1)
  }

  .section-tile__image img {
    height: 100%;
  }

  .swiper {
    margin-left: inherit;
  }
}
